body {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header header"
    "sidebar content content"
    "sidebar content content";
    grid-template-columns: 400px 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
}

.header {
    background-color: #9494ff;
    grid-area: header;
}

.sidebar {
    background-color: #dadbff;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: auto repeat(10, 1fr);
    gap: 4px;
    border: 2px solid #bec0ff;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-rows: auto repeat(10, 1fr);
}

.project-heading,
.sidebar-heading {
    text-align: center;
}

.project-name-container {
    margin: 0px;
    border-top: 1px solid #bec0ff;
    border-bottom: 1px solid #bec0ff;
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: space-between;
}

svg {
    width: 50px;
    height: 26px;
}

.add-new-project-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-item {
    display: flex;
}

.project-name {
    margin: 0px;
}

.list-item-container {
    display: grid;
    border: 1px solid gray;
    grid-template-columns: 4fr 14fr 4fr 4fr 2fr;
    grid-template-rows: 1fr;
    justify-items: start;
    align-items: center;
}

.list-item-container * {
    margin: 0px;
}

.project-name-heading {
    text-align: center;
}

.checklist-marker {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 20px;
}

.description-container {
    display: none;
}

.low-priority,
.med-priority,
.high-priority {
    width: 16px;
    height: 16px;
}

.priority-container {
    display: flex;
    flex-direction: column;
}

.priority-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.low-priority {
    border: 2px solid yellow;
}

.med-priority {
    border: 2px solid orange;
}

.high-priority {
    border: 2px solid red;
}

.priority-container > h4 {
    text-align: center;
}

.checklist-marker-container {
    margin-left: 20px;
}